*{
    margin: 0;
    padding: 0;
}
.topfixBanner{
    background-image: url(../images/Slider-Background.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topBanneroverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    margin-left: -15px;
}
.topContainer{
    margin-top: 12rem;
}
.topTitle{
    color:aliceblue;
    font-size: 40px;
    font-weight: 600;
}

.subTitle{
    color:aliceblue;
    font-size: 25px;
    font-weight: 350;
}


/* ============ Service Section =========== */
.card_design{
    border: 2px solid rgb(66, 64, 64);
    padding: 4px 4px;
    /* min-height: 323px; */
    height: 323px;
}

.card_design:hover {
    border-color: #0B5ED7;
    transition: 1s;
    transform: scale(1.1,1.1);
}

/* ============ Feature Section =========== */

.feature_container{
    background: rgba(227, 243, 238, 0.698);
    max-width: 100% !important;
    text-align: center;
    padding-left: 112px !important;
    padding-right: 210px !important;
}

.feature_h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.feature_paragrapg{
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}

.product_ul{
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    margin-left: 40px;
}
